In [ ]:
#pip install plotly==4.14.3

In [ ]:
#pip install bt

In [ ]:
#conda install -c conda-forge ta-lib

#Talvez não precise do tkinter
#conda install -c anaconda tk

In [1]:
import pandas as pd
import numpy as np
from time import time
from poloniex import Poloniex
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import bt
import talib
from talib import RSI, BBANDS

In [2]:
bitcoin_data = pd.read_csv("data/Bitcoin.csv", index_col="Date", parse_dates=True)

In [3]:
bitcoin_data.head()

              Open    High     Low   Close     Volume
Date
2016-12-17  785.17  792.51  784.86  790.83   78989800
2016-12-18  791.01  794.74  788.03  790.53   60524400
2016-12-19  790.69  793.61  790.32  792.71   74886400
2016-12-20  792.25  801.34  791.50  800.88   99629296
2016-12-21  800.64  834.28  799.41  834.28  155576000

Curso do datacamp Financial Trading in Python
Com a professora Chelsea Yang
https://campus.datacamp.com/courses/financial-trading-in-python/trading-strategies?ex=8

In [ ]:
# Plot the daily high price
plt.plot(bitcoin_data['High'], color='green')
# Plot the daily low price
plt.plot(bitcoin_data['Low'], color='red')

plt.title('Daily high low prices')
plt.show()

In [ ]:
# Define the candlestick data
candlestick = go.Candlestick(
    x=bitcoin_data.index,
    open=bitcoin_data['Open'],
    high=bitcoin_data['High'],
    low=bitcoin_data['Low'],
    close=bitcoin_data['Close'])

# Create a candlestick figure   
fig = go.Figure(data=[candlestick])
fig.update_layout(title='Bitcoin prices')                        

# Show the plot
fig.show()

In [ ]:
# Resample the data to daily by calculating the mean values
eurusd_daily = bitcoin_data.resample('D').mean()

In [ ]:
eurusd_daily.head()

Trace um histograma de retorno

In [ ]:
# Calculate daily returns
bitcoin_data['daily_return'] = bitcoin_data['Close'].pct_change() * 100

# Plot the histogram
bitcoin_data['daily_return'].hist(bins=100, color='red')
plt.ylabel('Frequency')
plt.xlabel('Daily return')
plt.title('Daily return histogram')
plt.show()

Calcular e plotar SMAs

In [ ]:
# Calculate SMA
bitcoin_data['sma_50'] = bitcoin_data['Close'].rolling(window=50).mean()

# Plot the SMA
plt.plot(bitcoin_data['sma_50'], color='green', label='SMA_50')
# Plot the close price
plt.plot(bitcoin_data['Close'], color='red', label='Close')

# Customize and show the plot
plt.title('Simple moving averages')
plt.legend()
plt.show()

O processo bt

In [4]:
# Download historical prices
bt_data = bt.get('fb, amzn, goog, nflx, aapl',
               start='2020-6-1', end='2020-12-1')

In [ ]:
bt_data.head()

Calcule e plote dois EMAs

A MME de 12 períodos e a MME de 26 períodos são duas médias móveis usadas no cálculo de um indicador mais complexo denominado MACD (Moving Average Convergence Divergence). O MACD transforma duas MMEs em um indicador de momentum subtraindo a MME mais longa da mais curta. Antes de aprender mais sobre o MACD, primeiro você deseja se familiarizar com seus componentes. Você decide calcular dois EMAs usando os preços diários das ações do Google e plotá-los em um gráfico.

Os dados históricos de preços diários do estoque do Google foram carregados stock_data. Além disso, talib foi importado para você e matplotlib.pyplot como plt.

In [6]:
# Calculate 12-day EMA
bitcoin_data['EMA_12'] = talib.EMA(bitcoin_data['Close'], timeperiod=12)
# Calculate 26-day EMA
bitcoin_data['EMA_26'] = talib.EMA(bitcoin_data['Close'], timeperiod=26)

# Plot the EMAs with price
plt.plot(bitcoin_data['EMA_12'], label='EMA_12')
plt.plot(bitcoin_data['EMA_26'], label='EMA_26')
plt.plot(bitcoin_data['Close'], label='Close')

# Customize and show the plot
plt.legend()
plt.title('EMAs')
plt.show()

<ipython-input-6-66e05459743d>:14: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

SMA vs. EMA
SMA e EMA são indicadores de tendência comumente usados. O SMA atribui peso igual a todos os pontos de dados, enquanto o EMA aplica mais peso aos pontos de dados recentes. Você tem alguns dados de preços de ações do Google e deseja decidir sobre um indicador de média móvel a ser usado. Você planeja calcular o SMA e o EMA com o mesmo período de lookback e plotá-los em um gráfico.

Os dados históricos de preços diários do estoque do Google foram carregados stock_data. Além disso, talibfoi importado para você e matplotlib.pyplotcomo plt.

In [8]:
# Calculate the SMA
bitcoin_data['SMA'] = talib.SMA(bitcoin_data['Close'], timeperiod=50)
# Calculate the EMA
bitcoin_data['EMA'] = talib.EMA(bitcoin_data['Close'], timeperiod=50)

# Plot the SMA, EMA with price
plt.plot(bitcoin_data['SMA'], label='SMA')
plt.plot(bitcoin_data['EMA'], label='EMA')
plt.plot(bitcoin_data['Close'], label='Close')

# Customize and show the plot
plt.legend()
plt.title('SMA vs EMA')
plt.show()

<ipython-input-8-2e265962cd54>:14: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Calcule o ADX

O índice de movimento direcional médio (ADX) foi desenvolvido por J. Welles Wilder como um indicador da força da tendência. Ele combina dois outros indicadores, o índice direcional positivo (+ DI) e o indicador direcional negativo (-DI), e é obtido por meio de cálculos demorados. No entanto, com Python, você pode calculá-lo com uma linha de código. Neste exercício, você implementará seu primeiro indicador ADX usando dados de preços diários do estoque da Tesla.

Os dados históricos de preços diários foram carregados em stock_data. Além disso, talibfoi importado para você

In [9]:
stock_data = bitcoin_data.copy()

In [11]:
# Calculate the ADX with the default time period
stock_data['ADX_14'] = talib.ADX(stock_data['High'],
                            stock_data['Low'], 
                            stock_data['Close'], timeperiod=14)

# Calculate the ADX with the time period set to 21
stock_data['ADX_21'] = talib.ADX(stock_data['High'],
                            stock_data['Low'], 
                            stock_data['Close'], timeperiod=21)

# Print the last five rows
stock_data.tail()

,Open,High,Low,Close,Volume,EMA_12,EMA_26,SMA,EMA,ADX_14,ADX_21
Date,,,,,,,,,,,
2020-12-13,18806.77,19381.54,18734.33,19142.38,25450468637,18670.587599,18140.884336,16763.1054,16873.007995,29.554256,35.834810
2020-12-14,19144.49,19305.10,19012.71,19246.64,22473997681,18759.211045,18222.792163,16887.4148,16966.091603,28.955107,35.294039
2020-12-15,19246.92,19525.01,19079.84,19417.08,26741982541,18860.421654,18311.257929,17014.2514,17062.208796,28.657884,34.889286
2020-12-16,19418.82,21458.91,19298.32,21310.60,44409011479,19237.372168,18533.431416,17167.3790,17228.812372,30.012427,35.272989
2020-12-17,22674.05,23586.91,21237.53,22885.93,67490234368,19798.688758,18855.838718,17359.6718,17450.660122,32.259940,36.190330

Visualize o ADX

O ADX pode quantificar a força de uma tendência, mas não sugere a direção da tendência de alta ou baixa. Normalmente, um valor ADX acima de 25 indica que um mercado de tendência está presente. Para melhor entendê-lo, você irá calcular o ADX e traçá-lo junto com os dados de preço.

Como no exercício anterior, você usará dados históricos de preços diários do estoque da Tesla, que foram carregados como stock_data. Além disso, talibfoi importado para você e matplotlib.pyplotcomo plt.

In [12]:
# Calculate ADX
stock_data['ADX'] = talib.ADX(stock_data['High'], stock_data['Low'], stock_data['Close'], timeperiod=14)

# Create subplots
fig, (ax1, ax2) = plt.subplots(2)

# Plot ADX with the price
ax1.set_ylabel('Price')
ax1.plot(stock_data['Close'])
ax2.set_ylabel('ADX')
ax2.plot(stock_data['ADX'], color='red')

ax1.set_title('Price and ADX')
plt.show()

<ipython-input-12-86d47cf2bea8>:14: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Calcule o RSI

O cálculo do RSI segue uma fórmula simples. RS, ou Força Relativa, é a média das variações de preço para cima em n períodos escolhidos , dividida pela média das variações de preço para baixo nesses n períodos.


Onde: RS = média das variações de preço para cima / média das variações de preço para baixo

Todos esses cálculos podem ser feitos em Python com uma linha de código. Neste exercício, você fará seu primeiro cálculo de RSI usando dados históricos de preços diários do estoque do Google.

Os dados de preços diários foram carregados como stock_data. Além disso, talibfoi importado para você.

In [13]:
# Calculate RSI with the default time period
stock_data['RSI_14'] = talib.RSI(stock_data['Close'], timeperiod=14)

# Calculate RSI with a time period of 21
stock_data['RSI_21'] = talib.RSI(stock_data['Close'], timeperiod=21)

# Print the last five rows
stock_data.tail()

,Open,High,Low,Close,Volume,EMA_12,EMA_26,SMA,EMA,ADX_14,ADX_21,ADX,RSI_14,RSI_21
Date,,,,,,,,,,,,,,
2020-12-13,18806.77,19381.54,18734.33,19142.38,25450468637,18670.587599,18140.884336,16763.1054,16873.007995,29.554256,35.834810,29.554256,58.961661,60.530070
2020-12-14,19144.49,19305.10,19012.71,19246.64,22473997681,18759.211045,18222.792163,16887.4148,16966.091603,28.955107,35.294039,28.955107,59.677408,61.004387
2020-12-15,19246.92,19525.01,19079.84,19417.08,26741982541,18860.421654,18311.257929,17014.2514,17062.208796,28.657884,34.889286,28.657884,60.878627,61.792511
2020-12-16,19418.82,21458.91,19298.32,21310.60,44409011479,19237.372168,18533.431416,17167.3790,17228.812372,30.012427,35.272989,30.012427,71.158273,69.081738
2020-12-17,22674.05,23586.91,21237.53,22885.93,67490234368,19798.688758,18855.838718,17359.6718,17450.660122,32.259940,36.190330,32.259940,76.654386,73.498416

Visualize o RSI

O RSI é um indicador de momentum que oscila entre 0 e 100. Normalmente, um RSI acima de 70 indica uma condição de mercado sobrecomprado, o que significa que o ativo está sobrevalorizado e o preço pode reverter. Um RSI abaixo de 30 sugere uma condição de mercado sobrevendido, o que significa que o ativo está subvalorizado e o preço pode subir. Para melhor entendê-lo, você irá calcular o RSI e traçá-lo junto com os dados de preço.

Como fez no exercício anterior, você usará dados históricos de preços diários do estoque do Google, que foram carregados como stock_data. Além disso, talibfoi importado para você e matplotlib.pyplotcomo plt.

In [14]:
# Calculate RSI
stock_data['RSI'] = talib.RSI(stock_data['Close'], timeperiod=14)

# Create subplots
fig, (ax1, ax2) = plt.subplots(2)
# Plot RSI with the price
ax1.set_ylabel('Price')
ax1.plot(stock_data['Close'])
ax2.set_ylabel('RSI')
ax2.plot(stock_data['RSI'], color='orangered')

ax1.set_title('Price and RSI')
plt.show()

<ipython-input-14-644be610b417>:13: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Implementar bandas de Bollinger

Bollinger Bands são envelopes plotados acima e abaixo de uma média móvel simples do preço. Como a distância das bandas é baseada no desvio padrão, elas se ajustam às oscilações de volatilidade do preço subjacente.

Para entender melhor o impacto da especificação do desvio padrão nas bandas de Bollinger, você implementará e plotará dois conjuntos de bandas de Bollinger no mesmo conjunto de dados.

Você usará dados históricos de preços do Bitcoin, que foram pré-carregados como bitcoin_data. A talibbiblioteca também foi importada para você.

In [15]:
# Define the Bollinger Bands with 1-sd
upper_1sd, mid_1sd, lower_1sd = talib.BBANDS(bitcoin_data['Close'], 
                                     nbdevup=1,
                                     nbdevdn=1,
                                     timeperiod=20)
# Plot the upper and lower Bollinger Bands 
plt.plot(bitcoin_data['Close'], color='green', label='Price')
plt.plot(upper_1sd, color='tomato', label="Upper 1sd")
plt.plot(lower_1sd, color='tomato', label='Lower 2sd')

# Customize and show the plot
plt.legend(loc='upper left')
plt.title('Bollinger Bands (1sd)')
plt.show()

<ipython-input-15-f46cca595356>:14: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Construir uma estratégia de sinal baseada em SMA

É hora de construir e testar sua primeira estratégia baseada em sinais. Embora simples, esses tipos de estratégias podem ser eficazes e também estabelecer as bases para estratégias mais complexas que consistem em sinais e informações adicionais.

Implementar um sinal baseado em comparação de preços com bté um processo direto. Primeiro, você fará o download de alguns dados históricos de preços das ações, calculará seu SMA (média móvel simples), implementará uma estratégia de sinal baseada em SMA e, em seguida, fará um backtest com os dados de preços de ações.

O btpacote foi importado para você.

In [17]:
# Get the price data
price_data = bt.get('aapl', start='2019-11-1', end='2020-12-1')
# Calculate the SMA
sma = price_data.rolling(20).mean()
sma.tail()

                  aapl
Date
2020-11-24  115.770595
2020-11-25  116.021296
2020-11-27  116.094617
2020-11-30  116.612717
2020-12-01  117.318530

Construir uma estratégia de sinal baseada em EMA

Anteriormente, você implementou uma estratégia de sinal baseada em SMA. No entanto, você está se perguntando se o indicador EMA (média móvel exponencial) é uma escolha melhor, uma vez que é mais sensível ao movimento recente dos preços. Você também gostaria de aproveitar a talibbiblioteca para calcular o indicador. Depois de mudar para uma estratégia de sinal baseada na EMA, você realizará um backtest semelhante usando os dados de preços de ações da Apple.

Os pacotes bte talibforam importados para você. Além disso, os dados históricos de preços das ações da Apple foram pré-carregados price_data.

In [32]:
price_data = pd.DataFrame()
price_data['Close'] = bitcoin_data['Close']
price_data.tail()

               Close
Date
2020-12-13  19142.38
2020-12-14  19246.64
2020-12-15  19417.08
2020-12-16  21310.60
2020-12-17  22885.93

In [31]:
ema = pd.DataFrame()
ema['Close'] = talib.EMA(bitcoin_data['Close'], timeperiod=20)
ema.tail()

                   Close
Date
2020-12-13  18422.370441
2020-12-14  18500.872304
2020-12-15  18588.130180
2020-12-16  18847.413020
2020-12-17  19232.033684

In [33]:
# Define the strategy
bt_strategy = bt.Strategy('AboveEMA',
                          [bt.algos.SelectWhere(price_data > ema),
                           bt.algos.WeighEqually(),
                           bt.algos.Rebalance()])

# Create the backtest and run it
bt_backtest = bt.Backtest(bt_strategy, price_data)
bt_result = bt.run(bt_backtest)
# Plot the backtest result
bt_result.plot(title='Backtest result')
plt.show()

C:\Users\Eduardo\anaconda3\lib\site-packages\ffn\core.py:2299: RuntimeWarning: divide by zero encountered in true_divide
  res = np.divide(er.mean(), std)
C:\Users\Eduardo\anaconda3\lib\site-packages\ffn\core.py:2299: RuntimeWarning: divide by zero encountered in true_divide
  res = np.divide(er.mean(), std)
<ipython-input-33-4b9adc89f5a7>:12: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Construir um sinal de crossover EMA

As estratégias de acompanhamento de tendências acreditam que "a tendência é sua amiga" e usam sinais para indicar a tendência e lucrar com ela.

Você deseja construir e testar uma estratégia de seguimento de tendências. Primeiro, você decide usar duas EMAs (médias móveis exponenciais) para construir o sinal. Quando a MME de curto prazo,, EMA_shorté maior do que a MME de longo prazo,, EMA_longvocê entrará em posições compradas no mercado. Vice-versa, quando EMA_shortfor menor que EMA_long, você entrará em posições vendidas.

Uma MME de 10 dias e uma MME de 40 dias foram pré-calculadas e salvas em EMA_shorte EMA_long. Os dados históricos de preços das ações do Google foram pré-carregados em price_data. Além disso, o btpacote foi importado para você.

In [80]:
price_data = bt.get('aapl', start='2019-11-1', end='2020-12-1')

In [60]:
price_data.tail()

                  aapl
Date
2020-11-24  114.998154
2020-11-25  115.856873
2020-11-27  116.416031
2020-11-30  118.872368
2020-12-01  122.536896

In [59]:
sma = price_data.rolling(20).mean()
#ou (organizar)
#sma = talib.SMA(price_data['Close'], timeperiod=20)
sma.tail()

                  aapl
Date
2020-11-24  115.770595
2020-11-25  116.021296
2020-11-27  116.094617
2020-11-30  116.612717
2020-12-01  117.318530

In [62]:
# Define the strategy
bt_strategy = bt.Strategy('AboveEMA',
                          [bt.algos.SelectWhere(price_data > sma),
                           bt.algos.WeighEqually(),
                           bt.algos.Rebalance()])

# Create the backtest and run it
bt_backtest = bt.Backtest(bt_strategy, price_data)
bt_result = bt.run(bt_backtest)

In [64]:
# Create the backtest and run it
bt_backtest = bt.Backtest(bt_strategy, price_data)
bt_result = bt.run(bt_backtest)

In [63]:
# Plot the backtest result
bt_result.plot(title='Backtest result')
plt.show()

<ipython-input-63-1d4031e4c768>:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [141]:
price_data = pd.read_csv("data/Bitcoin.csv", index_col="Date")
price_data.head()

              Open    High     Low   Close     Volume
Date
2016-12-17  785.17  792.51  784.86  790.83   78989800
2016-12-18  791.01  794.74  788.03  790.53   60524400
2016-12-19  790.69  793.61  790.32  792.71   74886400
2016-12-20  792.25  801.34  791.50  800.88   99629296
2016-12-21  800.64  834.28  799.41  834.28  155576000

In [143]:
price_data = pd.read_csv("data/Bitcoin.csv", index_col="Date", parse_dates=True)
price_data.head()

              Open    High     Low   Close     Volume
Date
2016-12-17  785.17  792.51  784.86  790.83   78989800
2016-12-18  791.01  794.74  788.03  790.53   60524400
2016-12-19  790.69  793.61  790.32  792.71   74886400
2016-12-20  792.25  801.34  791.50  800.88   99629296
2016-12-21  800.64  834.28  799.41  834.28  155576000

In [122]:
EMA_long =talib.EMA(price_data['Close'], timeperiod=10).to_frame()
EMA_short =talib.EMA(price_data['Close'], timeperiod=40).to_frame()

In [123]:
EMA_long.tail()

                       0
Date
2020-12-13  18699.634459
2020-12-14  18799.090012
2020-12-15  18911.451828
2020-12-16  19347.660587
2020-12-17  19990.982298

In [124]:
EMA_short.tail()

                       0
Date
2020-12-13  17390.624353
2020-12-14  17481.161702
2020-12-15  17575.596741
2020-12-16  17757.792022
2020-12-17  18007.945094

In [125]:
signal = EMA_long.copy()
signal[EMA_long.isnull()]=0

In [126]:
#construindo o sinal
signal[EMA_short > EMA_long] = 1
signal[EMA_short < EMA_long] = -1

In [127]:
signal.head()

              0
Date
2016-12-17  0.0
2016-12-18  0.0
2016-12-19  0.0
2016-12-20  0.0
2016-12-21  0.0

In [90]:
# Merge the data 
combined_df = bt.merge(signal, price_data, EMA_short, EMA_long)
combined_df.columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Price', 'EMA_short', 'EMA_long']

In [128]:
# Merge the data 
combined_df = bt.merge(signal, price_data['Close'], EMA_short, EMA_long)
combined_df.columns = [ 'Signal', 'Price', 'EMA_short', 'EMA_long']

In [129]:
combined_df.tail()

            Signal     Price     EMA_short      EMA_long
Date
2020-12-13    -1.0  19142.38  17390.624353  18699.634459
2020-12-14    -1.0  19246.64  17481.161702  18799.090012
2020-12-15    -1.0  19417.08  17575.596741  18911.451828
2020-12-16    -1.0  21310.60  17757.792022  19347.660587
2020-12-17    -1.0  22885.93  18007.945094  19990.982298

In [130]:
# Plot the signal, price and MAs
combined_df.plot(secondary_y=['signal'])
plt.show()

<ipython-input-130-2ab71d0b6d67>:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Construir e testar uma estratégia de seguimento de tendências

Anteriormente, você construía um sinal usando dois indicadores EMA. Quando a MME de curto prazo é maior do que a MME de longo prazo, o sinal é 1 para entrar em posições longas no mercado. Vice-versa, quando a MME de curto prazo é menor do que a MME de longo prazo, o sinal é -1 para entrar em posições curtas. Agora você vai implementar uma estratégia de acompanhamento de tendências com seu sinal e realizar um backtest usando o estoque do Google.

Os dados históricos de preços das ações do Google foram pré-carregados em price_data. O btpacote foi importado para você. Além disso, a signalpartir do exercício anterior está disponível para uso.

In [131]:
# Define the strategy
bt_strategy = bt.Strategy('EMA_crossover', 
                          [bt.algos.WeighTarget(signal),
                           bt.algos.Rebalance()])

In [136]:
price_data.isnull().sum()

Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [138]:
price_data.head(20)

               Open     High      Low    Close     Volume
Date
2016-12-17   785.17   792.51   784.86   790.83   78989800
2016-12-18   791.01   794.74   788.03   790.53   60524400
2016-12-19   790.69   793.61   790.32   792.71   74886400
2016-12-20   792.25   801.34   791.50   800.88   99629296
2016-12-21   800.64   834.28   799.41   834.28  155576000
2016-12-22   834.18   875.78   834.15   864.54  200027008
2016-12-23   864.89   925.12   864.68   921.98  275564000
2016-12-24   922.18   923.48   886.34   898.82  137727008
2016-12-25   899.65   899.65   862.42   896.18  143664992
2016-12-26   896.91   913.18   896.90   907.61  123771000
2016-12-27   908.35   940.05   904.26   933.20  167308000
2016-12-28   934.83   975.92   934.83   975.92  236630000
2016-12-29   975.13   979.40   954.50   973.50  199320000
2016-12-30   972.53   972.53   934.83   961.24  187474000
2016-12-31   960.63   963.74   947.24   963.74   99135104
2017-01-01   963.66  1003.08   958.70   998.33  147775008
2017-01-02   998.62  1031.39   996.70  1021.75  222184992
2017-01-03  1021.60  1044.08  1021.60  1043.84  185168000
2017-01-04  1044.40  1159.42  1044.40  1154.73  344945984
2017-01-05  1156.73  1191.10   910.42  1013.38  510199008

In [145]:
# Create the backtest and run it
#descobrir por que?
bt_backtest = bt.Backtest(bt_strategy, price_data)
bt_result = bt.run(bt_backtest)

Exception: Cannot allocate capital to 0 because price is 0 as of 2016-12-26 00:00:00

In [ ]:
# Plot the backtest result
bt_result.plot(title='Backtest result')
plt.show()